* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 3.0;
}

html,
body {
  background-color: #E9EBEE;
  color: black;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

header {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

nav {
  background-color: #4367B2;
  color: white;
}

.midtext {
  text-align: center;
  margin: 0 auto;
}

.documentation {
  background-color:#4367B2;
  color: white;
}

.center {
 margin: 0 auto 30px auto;
}

.content-container {
  width: 100%;
  justify-self: center;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  overflow: auto; 
  justify-content: center;
}

.main-side {
  width: 60%;
  min-width: 600px;
  height: 100%;
}

.artist-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.artist-info-content {
  background-color: white;
  padding: 0px 40px;
  margin-bottom: 30px;
  align-self: center;
}

.options-side {
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  justify-self: end;
  flex-direction: column;
  padding: 5px;
}

.options-menu { 
  min-height: 550px; 
  display: flex;
  flex-direction: column;
}

.options-sliders {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-self: start;
  height: 100%; 
}

.slider-container {
  display: flex;
  flex-direction: column;
 place-content: start;
}

.slider > input {
  width: 90%;
  height: 90px;
  background: white;
  outline: none;
}

.art-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.art-piece {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

#kaotisk-hverdag {
  border: 1px solid black;
  margin: 30px;
  height: 600px;
  width: 600px;
  background-color: white;
  align-self: center;
  border-radius: 30px;
}

#urolig-solnedgang {
  border: 1px solid black;
  margin: 30px;
  height: 300px;
  width: 300px;
  background-color: #1740f7;
  align-self: center;
  border-radius: 30px; 
}

#urolig-solnedgang:hover{
  background-color: black;
}

#urolig-solnedgang:hover .sun {
  fill: #660000;
 }




.art-info-text {
  padding: 0px 40px;
  margin-bottom: 30px;
  align-self: start;
}

.nav-links {
  align-self: end;
}

.nav-links li {
  list-style-type: none;
  text-decoration: underline;
  cursor: pointer;
  text-overflow: ellipsis;
}

.nav-links li:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .content-container {
    width: 100%;
  }
  
  .main-side {
    width: 100%;
  }

  .options-side {
    width: 100%;
    flex-direction: column-reverse;
    justify-items: center;
  }

  .options-menu {
    height: auto;
  }
  
  .options-sliders {
    height: auto;
  }
}